body {
  font-family: system-ui;
  background: white;
  color: white;
  text-align: left;
}
div.social-items{
  display:flex;
  justify-content:flex-end;
  padding-left: 48%;
  padding-top: 30px;
}
.meta-nav{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size:20px;
  color:white;
  display:flex;
  justify-content:center;


}

h2{
  color:black;
}
.cover{
  width:100%;
}
.head-name{
  padding-left: 30px;
  font-size:50px;
}
.ihb-logo{
  padding-top: 14px;
  height:100px;
  wight:100px;
}
.logo-item{
  display: flex;
  justify-content: flex-start;
}
a{
  color:black;
  padding: 10px;
  font-family:sans-serif;
  text-decoration:none !important;
}
.social-logo{
  height:50px;
  width:50px;
}